<%provide(:title,"Home")%>
<div class="container">
	<div class="jumbotron center">
		<h1>Welcome ,here have a cookie</h1>
		<p>Just Sign up</p>
		<%= link_to "Sign up",new_user_path, class: "btn btm-md btn-success" %>
	</div>
</div>